@import '_setting.scss';

$card-border-radius: 4px;

.card-item {
  background-color: white;
  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: $gap;

  img.card-cover {
    display: block;
    max-width: 100%;
    width: 100%;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
  &__base-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    // div.title {}
    .general-info {
      display: flex;
      gap: 10px;
      .comments-count, .users-count {
        i { color: darkcyan; }
      }
    }
    .member__avatars {
      justify-content: flex-start;
      padding: 0 0px 5px 0;
    }
  } 
}
