@import '~bootstrap/scss/bootstrap';
@import '_setting.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  padding: 0;
}

.trello-trungquandev-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin: 0 3px;
  }
  .trungquandev-trello-container {
    margin: 0 15px;
    padding: 0;
  }
  .col-no-padding {
    padding: 0;
  }

  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .trungquandev-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: white;
    }
  }

  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;
    i {
      font-size: 18px;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}

.tqd-send {
  transition: all .3s ease-in-out;
  &.tqd-waiting {
    opacity: .5;
    pointer-events: none;
  }
}

.loading-progress {
  width: 180px;
  height: 180px;
  margin: 60px auto;
  background-image: url(~resources/images/spinning-circles.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  text-align: center;
  p {
    position: absolute;
    margin: 0;
    top: 80%;
    left: 50%;
    transform: translate(-40%, -50%)
  }
}

.common-dropdown {
  .dropdown-toggle {
    background-color: inherit;
    border: none;
    &:focus {
      background-color: inherit !important;
      border: none !important;
    }
  }
  .dropdown-menu {
    padding: 0;
    min-width: 200px;
    max-width: 450px;
    .dropdown-item {
      padding: 1rem;
      font-size: 15px;
      &:not(:last-child) {
        border-bottom: 1px solid darken($column-bg-color, 10);
      }
      i.icon {
        margin-right: 10px;
        color: #3498db;
        &.danger {
          color: $alert-danger;
        }
      }
    }
  }
}

.default-avatar {
  border-radius: 50%;
  background-color: #2e86de;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.user-avatar {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  img {
    border-radius: 50%;
    object-fit: cover;
    &:hover {
      filter: brightness(120%);
    }
  }
}

.common__form {
  text-align: left;
  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
.text-right {
  text-align: right;
}

.pagination {
  justify-content: end;
  margin-top: 3rem;
  .page-item {
    .page-link {
      color: #0079bf;
      box-shadow: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        background-color: #0079bf;
        border-color: #0079bf;
        color: white;
      }
    }
  }
}

// Dùng chung class member__avatars cho cả trong card details lẫn ở Board Bar
.member__avatars {
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 4px;
  &__item {
    cursor: pointer;
    width: 28px;
    height: 28px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 0;
      &:hover {
        filter: brightness(110%);
      }
    }
    .more-members {
      display: inline-flex;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
    .users__select {
      width: 100%;
      height: 100%;
      position: relative;
      i {
        font-size: 13px;
      }
      .users__select__content {
        display: inline-flex;
        width: 100%;
        height: 100%;
        background-color: #e2e4e9;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:hover {
          background-color: darken($color: #e2e4e9, $amount: 5);
        }
      }
      
      .users__select__popover {
        .users__select__popover__close_btn {
          position: absolute;
          width: auto;
          font-size: 20px;
          top: 4px;
          right: 10px;
          cursor: pointer;
          color: #172b4d;
          &:hover {
            color: $alert-danger;
          }
        }
        position: absolute;
        top: 34px;
        left: 5px;
        min-width: 300px;
        min-height: 100px;
        padding: 15px 20px;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
        background-color: white;
        z-index: 999;
        .title {
          color: #5e6c84;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
        }
        .users-list {
          display: flex;
          flex-flow: wrap;
          gap: 4px;
          .user {
            &.selected {
              position: relative;
              &:after {
                position: absolute;
                content: '✔';
                font-size: 12px;
                color: #fff;
                bottom: 0;
                right: 0;
                padding: 0 3px;
                background-color: #27ae60;
              }
            }
          } 
        }
      }
    }
    .invite {
      display: inline-flex;
      width: 60px;
      height: 100%;
      margin-left: 6px;
      border-radius: 3px;
      background-color: #e2e4e9;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: darken($color: #e2e4e9, $amount: 5);
      }
    }
  }
}

.card__modal {
  // font-size: 16px;
  color: #172b4d;
  &__cover {
    margin-bottom: 1rem; // mb-3
    img.card__modal__cover__img {
      display: block;
      max-width: 100%;
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      max-height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__header {
    position: relative;
    &__subject_icon {
      position: absolute;
      width: auto;
      font-size: 20px;
      top: 12px;
      left: 1px;
    }
    &__close_btn {
      position: absolute;
      width: auto;
      font-size: 20px;
      top: 4px;
      right: 0;
      cursor: pointer;
      &:hover {
        color: $alert-danger;
      }
    }
    &__title {
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__body {
    .card__element__title {
      color: #5e6c84;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 8px;
    }
    .card__modal__description {
      &__title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        gap: 16px;
        i.enable-edit-description {
          cursor: pointer;
          &:hover {
            color: $board-bg-color;
          }
        }
      }
      &__content {
        .tqd-markdown-editor {
          box-shadow: none;
          .w-md-editor-aree {
            border-radius: 0;
          }
        }
      }
    }
    .card__modal__activity {
      &__title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        gap: 16px;
      }
      &__content {
        .comment__form {
          display: flex;
          align-items: center;
          gap: 10px;
          .write-comment {
            width: 100%;
          }
        }
        .comments__list {
          &__item {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
            .user-comment {
              width: 100%;
              .user-info {
                .username {
                  font-size: 16px;
                  font-weight: bold;
                  margin-right: 8px;
                }
                .datetime {
                  font-size: 14px;
                  color: #5e6c84;
                }
              }
              .comment-value {
                margin-top: 8px;
                padding: 8px 12px;
                border-radius: 3px;
                box-shadow: 1px 1px 3px -1px #091e4240, 0 0 0 1px #091e4214;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
    .menu__group {
      margin-bottom: 20px;
      &__title {
        color: #5e6c84;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }
      &__item {
        background-color: #091e420a;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        user-select: none;
        white-space: nowrap;
        &:hover {
          background-color: #e2e4e9;
        }
        i {
          margin-right: 6px;
        }
      }
    }
  }
}

.icon {
  font-size: 14px;
  margin: 0 3px;
  &.ring {
    color: #ffd32a;
    animation: ring 3s .5s ease-in-out infinite;
  }
}
