@import '~bootstrap/scss/bootstrap';
@import '_setting.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-trungquandev-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin: 0 3px;
  }
  .trungquandev-trello-container {
    margin: 0 15px;
    padding: 0;
  }
  .col-no-padding {
    padding: 0;
  }

  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .trungquandev-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: white;
    }
  }

  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;
    i {
      font-size: 18px;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}

.tqd-send {
  transition: all .3s ease-in-out;
  &.tqd-waiting {
    opacity: .5;
    pointer-events: none;
  }
}

.loading-progress {
  width: 180px;
  height: 180px;
  margin: 60px auto;
  background-image: url(~resources/images/spinning-circles.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  text-align: center;
  p {
    position: absolute;
    margin: 0;
    top: 80%;
    left: 50%;
    transform: translate(-40%, -50%)
  }
}

.common-dropdown {
  .dropdown-toggle {
    background-color: inherit;
    border: none;
    &:focus {
      background-color: inherit !important;
      border: none !important;
    }
  }
  .dropdown-menu {
    padding: 0;
    min-width: 200px;
    max-width: 450px;
    .dropdown-item {
      padding: 1rem;
      font-size: 15px;
      &:not(:last-child) {
        border-bottom: 1px solid darken($column-bg-color, 10);
      }
      i.icon {
        margin-right: 10px;
        color: #3498db;
        &.danger {
          color: $alert-danger;
        }
      }
    }
  }
}

.default-avatar {
  border-radius: 50%;
  background-color: #2e86de;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.user-avatar {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  img {
    border-radius: 50%;
    object-fit: cover;
    &:hover {
      filter: brightness(120%);
    }
  }
}

.common__form {
  text-align: left;
  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
.text-right {
  text-align: right;
}

